:root {
  --primary: #1e3c3a; 
  --primary-light: #3ebfae; 
  --primary-dark: #14222b; 
  --primary-contrast-light: #f7fafc; 
  --primary-contrast-dark: #0a1619;  

  --gray-100: #e0f7fa;   /* Azul claro praia */
  --gray-200: #b2ebf2;
  --gray-300: #80deea;
  --gray-400: #4dd0e1;
  --gray-500: #26c6da;
  --gray-600: #0097a7;
  --gray-700: #006064;
  --gray-800: #004d40;
  --gray-900: #00251a;
}