.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.card {
  height: 20rem;
  background-color: var(--primary-dark);
  color: var(--primary-contrast-light);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
}

.container {
  display: grid;

  grid-template-areas:
    "header1 header1 header1"
    "aside header2 aside2"
    "aside1 main aside2"
    "aside1 footer2 aside2"
    "footer1 footer2 aside2";


  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10rem 5rem auto 10rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1"
      "header2"
      "aside1"
      "aside2"
      "main"
      "footer1"
      "footer2";

    grid-template-columns: 1fr;
  }
}

.header1 {
  grid-area: header1;
  background-color: rgb(10, 49, 47);
}

.header2 {
  grid-area: header2;
  background-color: rgb(3, 116, 50);
}

.aside1 {
  grid-area: aside1;
  background-color: rgb(238, 255, 0);

  @media (max-width: 1200px) {
    display: none;
  }
}

.aside2 {
  grid-area: aside2;
  background-color: rgb(91, 100, 11);

  @media (max-width: 1200px) {
    display: none;
  }
}

.footer1 {
  grid-area: footer1;
  background-color: rgb(0, 255, 0);
}

.footer2 {
  grid-area: footer2;
  background-color: rgb(5, 136, 0);
}
